body{
    margin: 0 auto;
    
}
.container{
    width: 100%;
    background-color: #0a0b27;
    height: 35px;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: start;
}

.logo img{
    width: 60px;
    padding-top: 20px;
    position: relative;
    right: 80px;
    bottom: 8px;
}
.options ul{
    list-style: none;
    display: flex;
    justify-content: center;
    color: white  ;
    font-size: 8px;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 80px;
    top: 5px;

}   
.options ul :hover{
    color: red;
}
.mrp-btn {
    background-color: rgb(191, 0, 0);
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    margin-top: -8px; 
}

.mrp-btn:hover {
    background-color: #0a0b27;
}
.img-col{
    width: 100%;
    height: 427px;
    object-fit: cover;
    align-items: center;
    margin: 0 auto;
}
.f-img{
    width: 100%;
    margin: 0;

}
.row{
    width: 100%;
    height: 550 px;
    display: flex;
    justify-content: start; 
    

    
}
.col1{
    width: 50%;
    height: 530px;
    background-color: #f09130; 
    
    
}
.blu-img{
    width: 80px;
    height: 223px;
    margin-left: 145px;
    background-image: url(0345263FA8DB.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 110px;
}
.blu-img h1{
    display: flex;
    justify-content: start;
    color: #fff;   
    width: 190px;
    padding-top: 70px;
}
.col2{
    width: 50%;
    height: 94%;
    padding-top: 35px;
}
.col2 p{
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif   ;
    padding-top: 10px;
}
.icons{
    width: 40%;
    height: 20px;

    
}
.sociel {
    
    list-style: none  ;
    display: flex;
    margin-left: 31px;
}
.sc-img{
    width: 85%;
    height: 75%;

}
.last-img{
    width: 100%;
    height: 100%;

}
.last-img img{
    width: 100%;
    height: 100%;

}
footer{
    max-width: 90%;
    margin: 0 auto;
    height: 35vh;
}
.col3{
    width: 33%;
    height: 100%;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-top: 20px;
}
.col4{
    width: 33%;
    height: 100%;
    float: left;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    
}
.col5{
    width: 33%;
    height: 100%;
    float: left;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
}
.col4 a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    line-height: 11px;
    margin: 0;
}
.col4 a:hover{
    color: red;
}.col5 .strong:hover{
    color: red;
}
.last-icon{
   height: 25px;
    width: 100px;
    float: left; 
}
.col5 .last-icon img{
    height: 18px;
    width: 18px;
    float: left;
}


